<div class="photo-cta">
  <img src="/img/cta-images/join_our_team.png" class="photo-cta-container"/>
  <a href="{{site.data.settings.CTAS.cta1_link}}"><div class="cta-button">Apply Now</div></a>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/newsletter.png"  class="photo-cta-container"/>
  <a href="{{site.data.settings.CTAS.cta2_link}}"><div class="cta-button">Sign Up Now</div></a>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/strategy_call.png"  class="photo-cta-container"/>
  <a href="{{site.data.settings.CTAS.cta3_link}}"><div class="cta-button">Book a Call</div></a>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/workshop.png"  class="photo-cta-container"/>
  <a href="{{site.data.settings.CTAS.cta4_link}}"><div class="cta-button">Reserve Your Seat</div></a>
</div>
